* {
    font-family: Arial;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 50px;
    background-color: #76b852;
    color: white;
}

h2 {
    text-align: center;
    color: #76b852;
}

th, h2 {
    text-shadow: 0 1px 0 black;
}

td:nth-child(n) {
    text-align: center;
    width:33%;
}
input[type="text"] {
    width: 50%;
}

input[type="submit"] {
    text-shadow: 0 1px 0 black;
    color:white;
    cursor:pointer;
}


table tr td:nth-child(1) {
    word-break: break-all;
}

form {
    text-align: center;
}

#delete, #update {
    float:left;
    width:100%;
}

.form {
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #76b852;
    width: 20%;
    margin: 0 5px 15px;
    padding: 10px;
    font-size: 18px;
}
