* {
    font-family: Arial;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

th, h2 {
    text-shadow: 0 1px 0 black;
}

td:nth-child(1) {
    text-align: center;
}
input[type="text"] {
    width: 50%;
}
